@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
} 

html, body, #__next {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Make sure iframe has proper dimensions */
iframe {
  /* position: fixed; */
  /* top: 0px;
  bottom: 0px;
  left: 0px; */
  /* width: 80%; */
  /* border: none; */
  /* margin: 0; */
  /* padding: 0; */
  /* overflow: hidden; */
  z-index: 0;
  /* height: 100%; */
}

/* Minimalist custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}
